.body {
  margin-top: 2rem;
}

.form-input {
  border: 1px solid #000000;
  padding: 0.3rem 1rem;
  outline: none;
  width: 25rem;
}

.form-button {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  padding: 0.32rem 1rem;
}

.note {
  margin-top: 2rem;
}
